{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <form class="mt-4" action="" enctype="multipart/form-data" method="post">
            <h4>Create a new company</h4>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.brand.errors }}
                <label for="{{ form.brand.id_for_label }}">Brand:</label>
                {{ form.brand }}
            </div>
            <div class="form-group">
                {{ form.city.errors }}
                <label for="{{ form.city.id_for_label }}">City:</label>
                {{ form.city }}
            </div>
            <div class="form-group">
                {{ form.street.errors }}
                <label for="{{ form.street.id_for_label }}">Street:</label>
                {{ form.street }}
            </div>
            <div class="form-group">
                {{ form.account_number.errors }}
                <label for="{{ form.account_number.id_for_label }}">Account Number:</label>
                {{ form.account_number }}
            </div>
            <div class="form-group">
                {{ form.image_logo.errors }}
                <label for="{{ form.image_logo.id_for_label }}">Logo:</label>
                {{ form.image_logo }}
            </div>
            <input class="btn btn-info" type="submit" value="Create">
        </form>
        <!-- Button to return to the company list -->
        <a href="{% url 'company:company-list' %}">
            <button class="btn btn-primary mt-4">Back to Companies</button>
        </a>
    </div>
{% endblock %}